.App {
  padding: 1em;
  background-color: #282c34;

}
.App-header {
  min-height: 100vh;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  align-items:flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.Products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
}

.product {
  padding:1em;

}

.category-button {
  padding: .5em 1em;
  margin: 2px;
  background-color: aqua;
  color:rebeccapurple;
  border: 1px solid;
  font-size: 1em;
}